Body{
	/* imagen */
		Background-image:url("../imagenes/imagen8.jpg");
		font-family:"arial";
		color:black;
		font-size:20px;
	}
	
	/* text-align */
	p{
		text-align: justify;
		color:#E6D1FE;
		font-size:30px;
		
	}	
	 
	 hr{
		 border: 3 px solid #801680;
		 border-radius: 5px;
	 }
	 
	 table,tr,td{
		 /*   Grosor de la linea en pix*/
		 border:4px solid;
		 border-color:#9B59B6;
		 background-color:#5B2C6F;
	 }
	 th{
		 background-color:#B3B6B7;
	 }
	 
	 ul{
		 font-family: texto;
		 font-size:25px;
		 list-style-type:circle;
		 list-style-position:inside;
		 color:#E6D1FE;
	 }
	 
	  ol{
		 font-family: texto;
		 font-size:25px;
		 list-style-type:upper-roman;
		 list-style-position:inside;
		 color:#E6D1FE;
	 }
	 
		.encabezado{
		font-family: Titulos;
		text-align: center;
		font-size: 70px;
		color:#212F3D;
		font-weight:bold;
		}
	 
	 .titulo{
		 font-size:50px;
		 color:#212F3D;
		 font-family: Subtitulos;
		 text-align:center;
	 }
	 
	.tituloTablas{
		 font-size:50px;
		 color:#CFA6FF;
		 font-family:"Times new roman";
		 text-align:center;
	 }
	 
	 .pie{
		 font-size:25px;
		 color:#48C9B0;
		 font-family:Arail;
		 text-align:center;
		 font-weight:3px;
		 }
		  
	 .tablas{
		     text-align:calibri;
			 font-family:arial;
			 font-size:20px;
			 color: #FFFFFF;
	 }
	 
	 .marquesina{
		 height:450px;
		 width:450px;
	 }
	 
	 .botones{
		 height:150px;
		 width:150px;
		 border-radius: 25%;
	 }
	 
	 .imgtablas{
		 height:275px;
		 width:150px;
	 }
	 
	 .imagen{
		 border:10px solid #C39BD3;
		  height:200px;
		 width:200px;
	 }
	 
	 @font-face{
		 font-family:Titulos;
		 src: url "(../Fuentes/FreshFruit.tff)";
	 }
	 
	 @font-face{
		 font-family: Subtitulos;
		 src: url"(../Fuentes/TheHistoriaDemo.ttf)";
	 }
	 
	 @font-face{
		 font-family: texto;
		 src: url"(../Fuentes/RobotoBold.ttf)";
	 }
	 @font-face{
		 font-family: Tablas;
		 src: url"(../Fuentes/CherryPie.ttf)";
	 }
	 
	 @font-face{
		 font-family:copy;
	 src: url"(../Fuentes/little.ttf)";
	 }
	 
	 .google{
		 font-family: 'Playfair Display', serif;
		 font-size:8 px;
		 color:Black;
		 Text-align: center
		 font-weight: bold;
	 }
	 
	 *{
		 margin:0px;
		 padding:0px;
	 }
	 
	 div#top{
		 width:960px;
		 height:150px;
		 background-image:radial-gradient(white,purple);
	 }
	 
	 div#principal{
		 margin: auto;
		 margin-top: 20px;
		 width:80%;
		 height:500px;
		 background-image:radial-gradient(purple,black);
	 }
	 
	  div#principal2{
		 margin: auto;
		 margin-top: 20px;
		 width:80%;
		 height:450px;
		 background-image:radial-gradient(purple,black);
	 }
	 
	 div#principal3{
		 padding-left: 20px;
		 padding-right: 20px;
		 margin: auto;
		 margin-top: 20px;
		 width:80%;
		 height:220px;
		 background-image:radial-gradient(purple,black);
	 }
	 
	 div#principal4{
		 margin: auto;
		 margin-top: 20px;
		 width:80%;
		 height:550px;
		 background-image:radial-gradient(purple,black);
	 }
	 
	 div#piep{
		 margin-top:20px;
		 width:100%;
		 height:150px;
		 background-image: url("../imagenes/logo3.jpg");
	 }
	 
	 div#boton{
		margin: auto;
		margin-top: 100px;
		width: 100%;
		height: 200px;
		background-image:radial-gradient(white,purple);
}

.caja{
	font-family: Tablas;
	height: 300px;
	width: 220px;
	background: #F07DE7;
	border: 1px solid #D634A7;
	margin: 10px;
	color: black;
	text-align: center;
	display: inline-block;
}

.caja:hover{
	box-shadow: 0 0 20px white;
	transform: scale(1.3);
}

.cajatx{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	color:black;
	font-weight: bold;
}

.txtra{
	font-family: Tablas;
	padding-top: 5px;
	font-size: 15px;
}

/* div de paginas de los 9 productos*/
.caja1{
	font-family: Tablas;
	height: 450px;
	width: 750px;
	background: #F07DE7;
	border: 1px solid #D634A7;
	margin: 10px;
	color: black;
	text-align: center;
	display: inline-block;
}

 div#principal5{
	margin: auto;
	margin-top: 20px;
	width:80%;
	height:630px;
	background-image:radial-gradient(purple,black);
 }

.cajatx1{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 35px;
	color:black;
	font-weight: bold;
}

.txtra1{
	text-align: left;
	font-family: tablas;
	padding-top: 5px;
	padding-left: 20px;
	font-size: 25px;
}

.imagenP{
	border:10px solid #C39BD3;
	height:225px;
	width:225px;
	transition: 1.2s;
	object-fit:cover;
}

.imagenP:hover {
	transform: scale(1.7);
}

	.carrousel{
		width: 245px;
		margin: auto;
		box-sizing: border-box;
	}
	
	.conteCarrousel{
		width: 100%;
		height: 244px;
		overflow: hidden;
		box-sizing: border-box;
	}
	
	.itemCarrousel{
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: boder-box;
	}
	
	.itemCarrouselTarjeta{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
	
	.itemCarrouselArrows{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		box-sizing: border-box;
	}
	
	.itemCarrouselArrows > i:hover{
		cursor: pointer;
	}
	
	.conteCarrouselController{
		width: 100%;
		display: flex;
		justify-content: space-evenly;
	}
	
	.conteCarrouselController > a{
		text-decoration: none;
		font-size: 32px;
		color: grey;
	}
	
	.itemCarrouselArrows > a > i{
		color: white;
	}

#itemCarrousel-1{
    background-color: red;
}

#itemCarrousel-2{
    background-color:blue;
}

#itemCarrousel-3{
    background-color: green;
}
#itemCarrousel-4{
    background-color: purple;
}
